.contentStyle {
    height: 400px;
    color: #fff;
    line-height: 400px;
    text-align: center;
    width: 100%;
    object-fit: cover;
}
.slick-dots {
    display: block !important;
    position: relative;
    bottom: 10px;
}